
<div class='index-container'>
    <% @cocktails.each do |ct| %>
        <div class='index-tile'>
        <%= image_tag ct.img_url, class: 'index-img' %>
        <p><%= link_to ct.drink, cocktail_path(ct) %></p>
        <% if @current_user %>
            <%= button_to "Review This Drink", new_review_path, method: 'get' %>
        <% else %>
        <p><%= button_to "Login/Signup to review this drink!", new_login_path %></p>
        <% end %>
        </div>
    <% end %>
</div>

