<head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>


<h1 class="animate__animated animate__zoomInDown">Welcome to Brew!</h1>


<div class='index-container'>
    <% @cocktails.each do |ct| %>


        <div class='index-tile'>
        <%= image_tag ct.img_url, class: 'index-img' %>
        <p><%= link_to ct.drink, cocktail_path(ct) %></p>
        <% if @current_user %>
            <a href="http://localhost:3000/reviews/new?" class="btn btn-warning">Leave a review!</a>
            <% else %>
            <a href="http://localhost:3000/login" class="btn btn-warning">Login/Signup to leave a review!</a>
            <% end %>
        </div>
    <% end %>
</div>

