
<div class='index-container'>
    <% @cocktails.each do |ct| %>
        <div class='index-tile'>
        <p><%= link_to ct.drink, cocktail_path(ct) %></p>
        <% if @current_user %>
        <a href="http://localhost:3000/reviews/new?" class="btn btn-primary">Leave a review!</a>
        <% else %>
        <a href="http://localhost:3000/login" class="btn btn-primary">Login/Signup to leave review!</a>
        <% end %>
        </div>
    <% end %>
</div>

