<% if @results.length > 0 %>
    <h3 class="new-brew-form">Here are the drinks we could find that matched..</h3>  

   <div class='index-container'>
    <% @results.each do |result| %>
        <div class='index-tile'>
        <%= image_tag result.img_url, class: 'index-img' %>
        <p><%= link_to result.drink, cocktail_path(result) %></p>
        <% if @current_user %>
           <p><%= button_to "Review this drink", new_review_path, method: :get, class: 'btn btn-warning' %></p>
        <% else %>
        <p><%= button_to "Login/Signup to add this to your Kitchen", new_login_path, method: 'get', class: 'btn btn-warning' %></p>
        <% end %>
        </div>
    <% end %>
</div>

<% else %>
    <h3 class="new-brew-form">Sorry we couldn't find that drink!</h3>
    <h4 class="new-brew-form">Add this drink with NewBrew or try another search</h4>
<% end %>