<div class="new-brew-form">
  <h1>Hello <%= @current_user.name %>. Here are your profile details</h1>
    
    <p class="class-text">Email: <%= @current_user.email%></p>
    
    <p class="class-text">Age: <%= @current_user.age%></p>
    
    <%= link_to "Edit Profile", edit_user_path(@current_user), class: "btn btn-warning" %>

    
</div>