@import "bootstrap/scss/bootstrap";
// @import "bulma";

// body {
//     /* background-image: url("https://i.pinimg.com/originals/2c/37/53/2c37538ad1d9a09852c9ec8638c5fa8b.png");
//     background-repeat: no-repeat;
//     background-size: cover; */
 
//     background-color: rgba(150, 250, 237, 0.4)
//   }
 
.index-container {
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    // padding: 0px 0px 0px 0px;
    margin: 0px auto;
    border-radius: 25px; 
    justify-content: space-evenly;
  }
  
  .index-tile {
    background-color: rgba(66, 3, 85, 0.116);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px; 
  }
  
  .index-tile:hover {
    border: 3px solid rgba(66, 3, 85, 0.089); 
    background-color: rgb(237, 188, 252);
  }
  
  .index-tile h3 a {
    text-decoration: none;
    color: rgb(62, 7, 79);
    font-weight: 1200;
  }

  .index-img {
    max-width: 150px;
  }