@import "bootstrap/scss/bootstrap";
// @import "bulma";

body {
    background-image: url("/sessions.scss/");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(150, 250, 237, 0.4);
    background: linear-gradient(-45deg, #7db1ec, #4378da);
  }
 
.index-container {
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-flow: row wrap;
    padding: 0px 10px 0px 10px;
    margin: 0px auto;
    border-radius: 25px; 
    justify-content: space-evenly;
  }
  
  .index-tile {
    background-color: rgba(66, 3, 85, 0.116);
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px; 
  }
  
  .index-tile:hover {
    border: 3px solid rgba(66, 3, 85, 0.089); 
    background-color: rgb(237, 188, 252);
  }
  
  .index-tile h3 a {
    text-decoration: none;
    color: rgb(62, 7, 79);
    font-weight: 1200;
  }

  .index-img {
    max-width: 150px;
  }

  .thumb {
      padding: 60px 10px;
      text-align: center;
      background: #ddd;
  }

  .container-fluid, .container {
      margin: 50px auto;
      height: 200px;
  }

 a {
     color: rgba(0, 0, 0, 0.568);
 }

 a:hover {
    background-color: rgba(255,255,255,0.4);
    transition: 1s;
    text-decoration: none;
 }

 .navbar-menu {
    text-align: right;
    padding: 25px;
 }

 .navbar-form {
     align-self: center;
 }

 .input-group, .input-group-btn {
     align-self: center;
 }
//   @import url('https://fonts.googleapis.com/css?family=Exo+2:900');
nav {
    background-color: #ddd;
}

nav a {
    color: rgb(247, 138, 138);
}

.kitchen-header, .new-brew {
    text-align: center;
    font-family: sans-serif;
}

.form-control, .new-brew-form, .btn-primary {
    text-align: center;
    width: auto;
    margin: 0px auto;
}